root {
  --primary: #3c9600;
  --primary-light: #4bbd00;
  --priamry-dark: rgba(60, 150, 0, 0.5);

  --bg: #000;
  --card: #02040a;

  --text: #ffffff;
  --muted: #a0a6b3;

  --border: rgba(255,255,255,0.08);
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /*justify-content: right;*/
  align-items: center;
}

section {
  width: 80%;
  padding: 15px;
  margin: 10px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

/*section img {
  background: var(--primary-dark);
  border: 1px solid var(--primary);
  border-radius: 10px; 
}*/

section img {
  background: rgba(60,150,0,0.5);
  border: 1px solid #3c9600;
  border-radius: 10px;
  padding: 2px;
}

@media (max-width: 700px) {

 section {
   width: 98%;
  }
}
