:root {
  --primary: #3c9600;
  --primary-light: #4bbd00;

  --bg: #000;
  --card: #02040a;

  --text: #ffffff;
  --muted: #a0a6b3;

  --border: rgba(255,255,255,0.08);
}

section {
  text-align: left;
  padding-top: 150px;
  margin-left: 20px;
  font-size: 15px; /* adjusted */
}

section div { display: inline; }

.main { width: 75%; }

section h1 { 
  color: var(--primary);
  font-size: 45px; /* adjusted */
}

section { font-size: 30px; }

.scroll { border: 2px dotted white; }

#top {
  text-align: left;
  margin-left: 20px;
}

#top h1 { 
  border-left: 5px solid var(--primary);
  font-size: 26px; /* adjusted */
}

main {
  border: 2px dotted white;
}

@keyframes bounce {
  0% { transform: ; }
  50% { transform: ; }
}

@media (max-width: 700px) {
  section { width: 100%; } 
  section h3 { font-size: ; }
  section h5 { font-size: ; }
}


/* CTA BUTTON */

.cta {
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 14px; /* adjusted */
  color: #fff !important;
  width: 100px;
  
  background: linear-gradient(
    120deg,
    var(--primary),
    var(--primary-light),
    var(--primary)
  );
  background-size: 200% 200%;

  animation: gradientMove 3s linear infinite;
  transition: transform 0.25s ease;
}

.cta:hover {
  transform: translateY(-2px) scale(1.03);
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
