section {
  display: flex;
  justify-content: center;
  align-items: center;
  positon: fixed;
  top: 50px;
  border: 2px dotted white;
}

.scroll {
  border: 2px dotted white;
}

nav {
  border: 2px dotted white;
}







@keyframes bounce {
  0% { }
  50% { }
}

main {
  border: 2px dotted white;
}
